body {
	margin: 0px auto;
	color: #000000;
	font: 18px/24px "微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

.event_card {
	margin: 0px auto;
	margin-top: 60px;
	position: relative;
	width: 500px;
	height: 320px;
	border: 5px gray solid;

}

.expan_div {
	width: 110px;
	height: 375px;
	margin-top: -30px;
	margin-left: 20px;
	z-index: 20;
	position: absolute;
	display: none;
}

.top_card {
	width: 500px;
	height: 64px;
	text-align: center;
	font-size: 36px;
	line-height: 64px;
	/*	background-color: rgba(73, 160, 154, 0.223529);*/
	background-color: #FFFFFF;
	overflow: hidden;
}

.bottom_card {
	width: 500px;
	height: 256px;
	overflow: hidden;
	position: relative;
}

.expan_fun {
	width: 110px;
	height: 125px;
	background-color: #a29191;
}

.expan_fun_onfocus {
	width: 110px;
	height: 125px;
	background-color: #666665;
}

/*-----------zard------------*/
.redPanel, .blackPanel {
    text-align: center;
}

.quickFlip{
    height: 129px;
    width: 114px;
}

.focusImg {
	border:2px solid yellow;
}

.focusEventCard {
	border:5px solid yellow;
}
